<h1>Acerca de</h1>

<p>
EasyBroker comenzó en 2007 y ahora somos más de 20 personas en el equipo con más de 3,000 clientes en 15 países latinoamericanos. Nuestra sede está en la Ciudad de México y nuestro equipo es libre de trabajar desde casa o desde cualquier lugar que prefieran. Somos un equipo muy diverso que viene de varias disciplinas pero todos enfocados en crear productos digitales que nuestros clientes amen.
</p>

<p>
Nuestra meta es mejorar la experiencia de encontrar un hogar ayudando a profesionales inmobiliarios a proveer el mejor servicio. EasyBroker es una plataforma en la nube que ayuda a los agentes a estar al tanto de sus tareas diarias y a colaborar fácilmente con sus clientes y otros colegas inmobiliarios.
</p>
